@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');


.top-nav {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  padding-inline: 60px;
  padding-block: 20px;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 58px;
  display: none;
}

.top-nav .menubar{
  display: flex;
  gap: 20px;
  align-items: center;

}

.top-nav .menubar .logo {
  display: flex;
  align-items: center;
}

.top-nav .menubar .icon,
.top-nav .carts .icon{
width: 24px;
height: 24px;
color: #fff;
}
.top-nav .menubar .logo h1 {
  font-weight: 400;
  font-family: "Lavishly Yours", cursive;
  font-size: 40px;
  color: #fff;
}
.top-nav .menubar .logo span {
  font-family: Lato;
  font-size: 22px;
  font-weight: 900;
  line-height: 28.8px;
}

.top-nav .carts{
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-nav .carts .iconn{
  position: relative;
  margin-top: 5px;
  padding-right: 20px;
}


.top-nav .carts .iconn button{
  background-color: transparent;
  border: none;
}

.top-nav .carts .iconn .badge{

    position: absolute;
    bottom: 15px;
    background-color: #FF6666;
    color: white;
    border-radius: 50%;
    padding: 1px;
    height: 20px;
    width: 20px;
    left: 15px;
    font-size: 12px;
    text-align: center;
  
  
}



.header1-container{
  background-color: var(--header-color);
  width: 100%;
  height: 56px;
  display: flex;
  padding-inline: 69px;
  gap: 10px;
  align-items: center;
  transition: all 0.3s ease;

}

.header1-container.active{
  flex-direction: column;
  position: absolute;
  top: 56px;
  left: 0;
  height: auto;
  padding-block: 20px;
}

.menubar {
  display: none;
  cursor: pointer;
}

.header-items, .carts {
  display: flex;
  align-items: center;
}


/* .header1-container .menubar{
  display: none;
  display: flex;
  align-items: center;
} */

.header1-container .carts {
  display: none;
}

.header1-container .header-items{
  display: flex;
  align-items: center;
  gap: 8px;
  /* padding: 10px; */
  height: 100%;
  padding-inline: 10px;
}

.header1-container .header-item{
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 10px;



}

.header1-container .header-items:hover{
  background-color: var(--hover-1);
  color: #E35050;
}
.header1-container .header-item:hover{
  background-color: var(--hover-1);
  color: #E35050;
}

.header1-container .supportCenter{
  position: relative;
}
.header1-container .supportCenter .icon1{
 color: #fff;
}
.header1-container .supportCenter::after{
  content: "";
  top: 1%;
  left: 0;
  right: -16px;
  bottom: 10px;
  height: 55px;
  border-right: 2px solid #f8de7e;
  position: absolute;
}



.header1-container .header-items img{
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.header1-container .header-items p,
.header1-container .header-item p
{
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
.top-nav{
 
  padding-inline: 10px;
  width: 100%;
  padding-block: 20px;
 


}
  .header1-container {
    display: none;
  }

  .top-nav {
    display: flex;
  }

  .header1-container.active {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    color: #fff;
  }




}