@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Marko+One&display=swap');

.hero-container {
  width: 100%;
  position: relative;


  /* background: rgb(191,184,162);
background: linear-gradient(122deg, rgba(191,184,162,1) 46%, rgba(237,215,66,1) 65%); */

  /* background: hsla(48, 100%, 51%, 1);
  background: linear-gradient(225deg, hsla(48, 100%, 51%, 1) 0%, hsla(52, 83%, 59%, 1) 11%, hsla(46, 18%, 69%, 1) 56%, hsla(46, 18%, 69%, 1) 87%);
  background: -moz-linear-gradient(225deg, hsla(48, 100%, 51%, 1) 0%, hsla(52, 83%, 59%, 1) 11%, hsla(46, 18%, 69%, 1) 56%, hsla(46, 18%, 69%, 1) 87%);
  background: -webkit-linear-gradient(225deg, hsla(48, 100%, 51%, 1) 0%, hsla(52, 83%, 59%, 1) 11%, hsla(46, 18%, 69%, 1) 56%, hsla(46, 18%, 69%, 1) 87%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFCE06", endColorstr="#EDD742", GradientType=1);
  width: 100%;
  height: 520px;

  overflow: hidden; */

}

.hero-container .hero-header .heroText {

  background: hsla(48, 100%, 51%, 1);
  /* background: linear-gradient(225deg, hsla(48, 100%, 51%, 1) 0%, hsla(52, 83%, 59%, 1) 11%, hsla(46, 18%, 69%, 1) 56%, hsla(46, 18%, 69%, 1) 87%); */
  background: -moz-linear-gradient(225deg, hsla(48, 100%, 51%, 1) 0%, hsla(52, 83%, 59%, 1) 11%, hsla(46, 18%, 69%, 1) 56%, hsla(46, 18%, 69%, 1) 87%);
  background: -webkit-linear-gradient(225deg, hsla(48, 100%, 51%, 1) 0%, hsla(52, 83%, 59%, 1) 11%, hsla(46, 18%, 69%, 1) 56%, hsla(46, 18%, 69%, 1) 87%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFCE06", endColorstr="#EDD742", GradientType=1);
  width: 100%;
  height: 500px;
  padding-inline: 60px;
  position: relative;
  padding-top: 80px;
  z-index: 3;
}

/* font-family: "Marko One", serif; */


.hero-container .hero-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}



.hero-container .hero-header .heroText {
  display: flex;
}

.hero-container .hero-header .heroText h2:nth-child(1) {
  font-size: 55px;
  font-weight: 800;
  line-height: 69px;
  letter-spacing: -0.005em;
  color: #2A353D;
  position: relative;
  font-family: Lato;
  /* font-family: "Lavishly Yours", cursive; */
}

.hero-container .hero-header .heroText h2:nth-child(2) {
  font-family: Marko One;
  font-size: 60px;
  font-weight: 400;
  line-height: 87.15px;
  letter-spacing: 0.004em;
  color: #156A70;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-container .hero-header .heroText h2:nth-child(2) p {

  font-family: Marko One;
  font-size: 60px;
  font-weight: 400;
  line-height: 87.15px;
  letter-spacing: 0.004em;
  color: #701A15;
}


.hero-container .hero-header .heroText h2:nth-child(3) {
  font-family: Marko One;
  font-size: 60px;
  font-weight: 400;
  line-height: 87.15px;
  letter-spacing: 0.004em;
  color: #701A15;
  display: flex;
  gap: 20px;
  /* position: relative; */

}

.hero-container .hero-header .heroText h2:nth-child(3) span {
  font-family: Marko One;
  font-size: 60px;
  font-weight: 400;
  line-height: 87.15px;
  letter-spacing: 0.004em;
  color: #1D399C;
  position: relative;
}

.hero-container .hero-header .heroText .heroBadge {
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 100%;
  color: #fff;
  position: absolute;
  background-color: #FF0000;
  text-align: center;
  align-items: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  bottom: 170px;
  left: 600px;
  bottom: 180px;
  z-index: 1;


}

.hero-container .hero-header .heroText .btn{
  width: 157px;
  height: 74px;
  padding: 22px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 40px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  
  
  }
  

/* .hero-container .heroText .hero__img {
  right: 69px;
  bottom: 50px;
  z-index: 99; 

} */


.hero-container .hero__img .heroimg {
  width: 800px;
  height: 530px;
  object-fit: contain;
  position: absolute;
  top: -30px;
  right: -100px;
 

}
.hero-container .services-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  gap: 10px;
  margin-top: 14px;
  text-align: center;
  
}
.hero-container .services-card .heroCards{
border: 1px solid #2A353D;
width: 349px;
height: 145px;
border-radius: 10px;
padding: 18px 20px 18px 20px;
display: flex;
flex-direction: column;
align-items: center;
line-height: 28px;
}

.hero-container .services-card .heroCards img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-bottom: 10px;
}

.hero-container .services-card .heroCards h5{
font-family: Lato;
font-size: 20px;
font-weight: 800;
line-height: 28.8px;
letter-spacing: 0.5px;
text-align: center;
color: #2A353D;
}

.hero-container .services-card .heroCards span{
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: center;
   
}


